{% extends "base.html" %}
{% block content %}
<h2>Exam</h2>
<form method="POST">
  {% for q in questions %}
    <p><b>{{ loop.index }}. {{ q.question }}</b></p>
    <label><input type="radio" name="q{{ q.id }}" value="A"> {{ q.option_a }}</label><br>
    <label><input type="radio" name="q{{ q.id }}" value="B"> {{ q.option_b }}</label><br>
    <label><input type="radio" name="q{{ q.id }}" value="C"> {{ q.option_c }}</label><br>
    <label><input type="radio" name="q{{ q.id }}" value="D"> {{ q.option_d }}</label><br>
    <hr>
  {% endfor %}
  <button type="submit">Submit Exam</button>
</form>
{% endblock %}